# -----------------------------------------------------------------------------
# Version Control
# -----------------------------------------------------------------------------

.git
.gitignore
.github

# -----------------------------------------------------------------------------
# Node.js
# -----------------------------------------------------------------------------

node_modules
npm-debug.log

# -----------------------------------------------------------------------------
# Environment Files
# -----------------------------------------------------------------------------

.env
.env.*

# -----------------------------------------------------------------------------
# Documentation
# -----------------------------------------------------------------------------

README.md
LICENSE
SECURITY.md
CONTRIBUTING.md

docs/
screenshots/

# -----------------------------------------------------------------------------
# IDE Files
# -----------------------------------------------------------------------------

.vscode
.idea

# -----------------------------------------------------------------------------
# Operating System Files
# -----------------------------------------------------------------------------

.DS_Store
Thumbs.db

# -----------------------------------------------------------------------------
# Logs
# -----------------------------------------------------------------------------

*.log

# -----------------------------------------------------------------------------
# Docker Compose
# -----------------------------------------------------------------------------

docker-compose.yml

# -----------------------------------------------------------------------------
# Test Coverage
# -----------------------------------------------------------------------------

coverage/
